<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

#Problem Statement Here, Delete the above text when this is identified. One possibility is Size of school district vs. act/sat score.

The State of Ohio is trying to identify ways in which the state can improve its graduating students ACT scores. The ACT is a standardized test widely used as a measure for determining college admittance and the State recognizes that there are students from some districts within the state that regularly perform below the average. This project will analyze the factors that affect ACT results in the state and provide possible solutions.

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

In [1071]:
#at the moment I am deciding to use the ACT since it's test scores are more broadly broken down into 4 categories. 

import pandas as pd

act_2017 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/act_2017.csv')
act_2018 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/act_2018.csv')
act_2019 = pd.read_csv('/USers/jamesopacich/Documents/dsi/projects/project_1/data/act_2019.csv')
act_ca_2019 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/act_2019_ca.csv')
sat_2017 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/sat_2017.csv')
sat_2018 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/sat_2018.csv')
sat_2019 = pd.read_csv('/Users/jamesopacich/Documents/dsi/projects/project_1/data/sat_2019.csv')

act_2017c = act_2017.copy()
act_2018c = act_2018.copy()
act_2019c = act_2019.copy()

In [1072]:
act_2017c.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

My Goal: ACT 2017 to 2019

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1073]:
act_2017c

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2
10,Florida,73%,19.0,19.4,21.0,19.4,19.8
11,Georgia,55%,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90%,17.8,19.2,19.2,19.3,19.0
13,Idaho,38%,21.9,21.8,23.0,22.1,22.3
14,Illinois,93%,21.0,21.2,21.6,21.3,21.4
15,Indiana,35%,22.0,22.4,23.2,22.3,22.6
16,Iowa,67%,21.2,21.3,22.6,22.1,21.9
17,Kansas,73%,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100%,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100%,19.4,18.8,19.8,19.6,19.5
20,Maine,8%,24.2,24.0,24.8,23.7,24.3
21,Maryland,28%,23.3,23.1,24.2,2.3,23.6
22,Massachusetts,29%,25.4,25.3,25.9,24.7,25.4
23,Michigan,29%,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100%,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100%,18.2,18.1,18.8,18.8,18.6
26,Missouri,100%,19.8,19.9,20.8,20.5,20.4
27,Montana,100%,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84%,20.9,20.9,21.9,21.5,21.4
29,Nevada,100%,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18%,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34%,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66%,18.6,19.4,20.4,20.0,19.7
33,New York,31%,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100%,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98%,19.0,20.4,20.5,20.6,20.3
36,Ohio,75%,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100%,18.5,18.8,20.1,19.6,19.4
38,Oregon,40%,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23%,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21%,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100%,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80%,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100%,19.5,19.2,20.1,19.9,19.8
44,Texas,45%,19.5,20.7,21.1,20.9,20.7
45,Utah,100%,19.5,19.9,20.8,20.6,20.3
46,Vermont,29%,23.3,23.1,24.4,23.2,23.6
47,Virginia,29%,23.5,23.3,24.6,23.5,23.8
48,Washington,29%,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69%,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100%,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2x

In [1074]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [1075]:
# Code: 
def mean_fun(lst_of_nums):
    return sum(lst_of_nums) / len(lst_of_nums)

In [1076]:
mean_fun(num_list)

5.5

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1077]:
def std_dev_fun(nums):
    mean = mean_fun(nums)
    var_list = [(n - mean)**2 for n in nums]
    return (sum(var_list) / len(var_list)) ** .5

# import mean function and label it mean.
# list comprehension to create var_list that subtracts n for n in nums by mean and squares. 
# return the sum of the list divided by len of string with square root.

In [1078]:
std_dev_fun(num_list)

2.8722813232690143

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [1079]:
def float_convert(string_num):
    count = 0
    for i in range(len(string_num)):
        if string_num[i] == '%':
            return float(string_num[:i])

In [1080]:
float_convert('50%')

50.0

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [1081]:
# Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

# 1. Display the data: print the header for each dataframe

In [1082]:
act_2017c.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [1083]:
act_2018c.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [1084]:
act_2019c.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

# 2. Check for missing values

##### There are no missing values

In [1085]:
act_2017c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [1086]:
act_2018c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [1087]:
act_2019c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

##### Checking Shape. There are differences between act_2017 and the other two act df's.

In [1088]:
act_2017c.shape

(52, 7)

In [1089]:
act_2018c.shape

(52, 3)

In [1090]:
act_2019c.shape

(52, 3)

# 3. Check for any obvious issues with the observations 
#### (keep in mind the minimum & maximum possible values for each test/subtest).

In [1091]:
act_2017c.min()

State            Alabama
Participation        60%
English             16.3
Math                  18
Reading             18.1
Science              2.3
Composite           17.8
dtype: object

## 2019 Min, Max, Value_Counts()
#### To do
#### - Change 'Participation' column values to float.
#### - Need to remove row with "National" label in 'State' column.
#### - Remove % from values in 'Participation' feature.

In [1092]:
act_2019c.min() #participation min seems off this is due to datatype being an object.

State            Alabama
Participation       100%
Composite           17.9
dtype: object

In [1093]:
act_2019c.max()

State            Wyoming
Participation        96%
Composite           25.5
dtype: object

In [1094]:
act_2019c['State'].value_counts() #National row needs to be removed.

Texas                   1
North Carolina          1
Washington              1
Missouri                1
Arizona                 1
Colorado                1
Ohio                    1
Kansas                  1
Oklahoma                1
Mississippi             1
South Carolina          1
Virginia                1
District of Columbia    1
Delaware                1
Massachusetts           1
Georgia                 1
Nevada                  1
New York                1
Alaska                  1
Oregon                  1
Vermont                 1
Arkansas                1
Pennsylvania            1
West Virginia           1
Utah                    1
New Hampshire           1
Wyoming                 1
Montana                 1
Nebraska                1
Rhode Island            1
Indiana                 1
Minnesota               1
National                1
Maine                   1
Idaho                   1
Hawaii                  1
Florida                 1
Michigan                1
Tennessee               1
North Dakota            1
New Mexico              1
California              1
Wisconsin               1
Louisiana               1
Illinois                1
New Jersey              1
Alabama                 1
Maryland                1
Iowa                    1
Kentucky                1
Connecticut             1
South Dakota            1
Name: State, dtype: int64

In [1095]:
act_2019c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [1096]:
act_2019c['Composite'].value_counts() #Seems normal

19.0    3
19.8    3
18.9    2
21.4    2
20.8    2
18.8    2
20.3    2
24.1    2
21.6    2
20.1    2
19.3    2
24.3    2
20.0    2
22.5    2
25.5    2
24.5    1
24.0    1
25.0    1
23.5    1
23.6    1
20.5    1
20.7    1
24.4    1
18.4    1
17.9    1
19.9    1
21.2    1
22.3    1
19.4    1
22.1    1
24.2    1
22.6    1
24.7    1
23.8    1
21.1    1
Name: Composite, dtype: int64

In [1097]:
act_2019c['Participation'].value_counts() #percentages need to be removed. Theres an outlier at 6% maybe investigate that.

100%    15
49%      2
22%      2
21%      2
23%      1
17%      1
14%      1
95%      1
82%      1
73%      1
24%      1
39%      1
27%      1
38%      1
31%      1
72%      1
52%      1
63%      1
13%      1
75%      1
66%      1
32%      1
28%      1
12%      1
6%       1
20%      1
96%      1
29%      1
42%      1
54%      1
25%      1
80%      1
35%      1
19%      1
78%      1
Name: Participation, dtype: int64

## 2018 Min, Max, Value_Counts()
#### To do
#### - Turn participation feature into a float object instead of a string object. 
#### - Eliminate duplicate 'Maine' row. 
#### - Investigate outliers at 7% in 'Participation' column (later)
#### - Remove % symbols from values in 'Participation' feature

In [1098]:
act_2018c.min() #Same issue as 2019 with participation being a string object.

State            Alabama
Participation       100%
Composite           17.7
dtype: object

In [1099]:
act_2018c.max()

State            Wyoming
Participation        99%
Composite           25.6
dtype: object

In [1100]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [1101]:
act_2018c['State'].value_counts() #Maine shows up twice

Maine                   2
Texas                   1
Delaware                1
Washington              1
Missouri                1
Arizona                 1
Colorado                1
Ohio                    1
Kansas                  1
Oklahoma                1
Mississippi             1
South Carolina          1
Virginia                1
Massachusetts           1
Wyoming                 1
Georgia                 1
Nevada                  1
New York                1
Alaska                  1
Oregon                  1
Vermont                 1
Arkansas                1
Pennsylvania            1
West Virginia           1
Utah                    1
New Hampshire           1
District of columbia    1
North Carolina          1
Montana                 1
Rhode Island            1
Indiana                 1
Minnesota               1
Idaho                   1
Hawaii                  1
Florida                 1
Michigan                1
Tennessee               1
Nebraska                1
North Dakota            1
California              1
Wisconsin               1
Louisiana               1
Illinois                1
New Jersey              1
Alabama                 1
Maryland                1
Iowa                    1
Kentucky                1
Connecticut             1
New Mexico              1
South Dakota            1
Name: State, dtype: int64

In [1102]:
act_2018c['Participation'].value_counts() # seems to be a few outliers at 7%. investigate

100%    17
24%      3
31%      2
27%      2
32%      2
66%      2
7%       2
67%      1
71%      1
33%      1
98%      1
77%      1
22%      1
89%      1
99%      1
30%      1
65%      1
26%      1
53%      1
45%      1
43%      1
36%      1
17%      1
68%      1
42%      1
25%      1
16%      1
15%      1
20%      1
Name: Participation, dtype: int64

In [1103]:
act_2018c['Composite'].value_counts()

20.3    3
23.9    3
20.0    3
22.5    2
21.3    2
19.1    2
19.2    2
24.0    2
24.2    2
19.4    2
22.3    1
19.3    1
24.5    1
23.5    1
25.5    1
23.7    1
19.6    1
20.5    1
23.6    1
20.7    1
21.8    1
20.1    1
24.1    1
22.2    1
17.7    1
18.6    1
21.4    1
18.3    1
18.9    1
21.9    1
21.6    1
20.8    1
20.4    1
25.1    1
22.7    1
25.6    1
20.2    1
23.8    1
19.9    1
Name: Composite, dtype: int64

## 2017 Min, Max, Value_Counts()
#### To do
#### - Remove row 'National' label in 'State' feature.
#### - Convert 'Composite' Feature to float
#### - In 'Composite' feature value 20.2x needs to have x removed.
#### - Convert Participation Column to float
#### - Eliminate 'Reading', 'Science', 'Math', and 'English' columns so they can match up with other act df's
#### - Investigate outlier at 8% in 'Participation' feature. (later)
#### - Remove the space in the string of one of the values in 'Participation' column

In [1104]:
act_2017c.min()

State            Alabama
Participation        60%
English             16.3
Math                  18
Reading             18.1
Science              2.3
Composite           17.8
dtype: object

In [1105]:
act_2017c.max()

State            Wyoming
Participation        98%
English             25.5
Math                25.3
Reading               26
Science             24.9
Composite           25.5
dtype: object

In [1106]:
act_2017c.info() #composite needs to be turned to float object and unnecessary rows removed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [1107]:
act_2017c['State'].value_counts() #National Column needs to be removed in 2017 as well.

Texas                   1
North Carolina          1
Washington              1
Missouri                1
Arizona                 1
Colorado                1
Ohio                    1
Kansas                  1
Oklahoma                1
Mississippi             1
South Carolina          1
Virginia                1
District of Columbia    1
Delaware                1
Massachusetts           1
Georgia                 1
Nevada                  1
New York                1
Alaska                  1
Oregon                  1
Vermont                 1
Arkansas                1
Pennsylvania            1
West Virginia           1
Utah                    1
New Hampshire           1
Wyoming                 1
Montana                 1
Nebraska                1
Rhode Island            1
Indiana                 1
Minnesota               1
National                1
Maine                   1
Idaho                   1
Hawaii                  1
Florida                 1
Michigan                1
Tennessee               1
North Dakota            1
New Mexico              1
California              1
Wisconsin               1
Louisiana               1
Illinois                1
New Jersey              1
Alabama                 1
Maryland                1
Iowa                    1
Kentucky                1
Connecticut             1
South Dakota            1
Name: State, dtype: int64

In [1108]:
act_2017c['Participation'].value_counts() #outlier at 8 percent. investigate

100%    17
29%      5
31%      3
73%      2
18%      2
75%      1
55%      1
38%      1
69%      1
84%      1
21%      1
98%      1
 60%     1
80%      1
32%      1
67%      1
34%      1
62%      1
40%      1
66%      1
23%      1
65%      1
28%      1
45%      1
35%      1
90%      1
8%       1
93%      1
Name: Participation, dtype: int64

In [1109]:
act_2017c['Composite'].value_counts() # value 20.2x needs to have x removed.

20.3     3
21.4     3
19.8     3
21.8     2
19.4     2
23.6     2
20.4     2
24.2     2
19.7     2
21.9     2
24.1     2
19.0     1
20.2x    1
25.2     1
24.3     1
22.6     1
19.5     1
22.0     1
24.0     1
23.8     1
20.7     1
20.8     1
18.6     1
21.0     1
20.5     1
19.2     1
18.7     1
25.5     1
17.8     1
23.7     1
23.9     1
21.7     1
19.1     1
22.8     1
20.0     1
21.5     1
22.3     1
25.4     1
Name: Composite, dtype: int64

# 4. Fix any errors you identified in steps 2-3

## Fix 2017 Errors

#### [2017] Remove row 'National' value in 'State' feature.

In [1110]:
act_2017c.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [1111]:
act_2017c = act_2017c[act_2017c['State'] != 'National']

In [1112]:
act_2017c['State']

1                  Alabama
2                   Alaska
3                  Arizona
4                 Arkansas
5               California
6                 Colorado
7              Connecticut
8                 Delaware
9     District of Columbia
10                 Florida
11                 Georgia
12                  Hawaii
13                   Idaho
14                Illinois
15                 Indiana
16                    Iowa
17                  Kansas
18                Kentucky
19               Louisiana
20                   Maine
21                Maryland
22           Massachusetts
23                Michigan
24               Minnesota
25             Mississippi
26                Missouri
27                 Montana
28                Nebraska
29                  Nevada
30           New Hampshire
31              New Jersey
32              New Mexico
33                New York
34          North Carolina
35            North Dakota
36                    Ohio
37                Oklahoma
38                  Oregon
39            Pennsylvania
40            Rhode Island
41          South Carolina
42            South Dakota
43               Tennessee
44                   Texas
45                    Utah
46                 Vermont
47                Virginia
48              Washington
49           West Virginia
50               Wisconsin
51                 Wyoming
Name: State, dtype: object

#### [2017] Eliminate 'Reading', 'Science', 'Math', and 'English' columns so they can match up with other act df's

In [1113]:
act_2017c = act_2017c.drop(['Reading', 'English', 'Math', 'Science'], axis = 1)

In [1114]:
act_2017c.head()

        State Participation Composite
1     Alabama          100%      19.2
2      Alaska           65%      19.8
3     Arizona           62%      19.7
4    Arkansas          100%      19.4
5  California           31%      22.8

#### [2017] In 'Composite' feature value 20.2x needs to have x removed.

In [1115]:
act_2017c['Composite'][51]

'20.2x'

In [1116]:
def symbol_stripper(string):
    return string.strip('!@#$%^&*x ')

In [1117]:
act_2017c['Composite'] = act_2017c['Composite'].apply(symbol_stripper)

In [1118]:
act_2017c['Composite'].head() #symbols successfully stripped

1    19.2
2    19.8
3    19.7
4    19.4
5    22.8
Name: Composite, dtype: object

#### [2017] Convert 'Composite' Feature to float.

In [1119]:
def convert_float(string_num):
    for num in string_num:
        return float(string_num)

In [1120]:
act_2017c['Composite'] = act_2017c['Composite'].apply(convert_float)

In [1121]:
act_2017c['Composite'].head() #composite successfully converted to float

1    19.2
2    19.8
3    19.7
4    19.4
5    22.8
Name: Composite, dtype: float64

#### [2017] Remove symbols and empty space around string objects in 'Participation'

In [1122]:
#act_2017c.iloc[0 , 1] = act_2017c['Participation'][0].replace(' ', ''

In [1123]:
act_2017c['Participation'] = act_2017c['Participation'].apply(symbol_stripper)

In [1124]:
act_2017c['Participation'][1] #empty space  and symbols successfully removed

'100'

#### [2017] Convert Participation Column to float.

In [1125]:
act_2017c['Participation'] = act_2017c['Participation'].apply(convert_float)

In [1126]:
act_2017c['Participation'].head() #participation successfully converted to float

1    100.0
2     65.0
3     62.0
4    100.0
5     31.0
Name: Participation, dtype: float64

#### [2017] Reset Index back to zero

## Fix 2018 Errors

#### Remove % symbols from values in 'Participation' feature

In [1127]:
act_2018c['Participation'] = act_2018c['Participation'].apply(symbol_stripper)

In [1128]:
act_2018c['Participation'].head()

0    100
1     33
2     66
3    100
4     27
Name: Participation, dtype: object

#### Turn participation feature into a float object instead of a string object.

In [1129]:
act_2018c['Participation'] = act_2018c['Participation'].apply(convert_float)

In [1130]:
act_2018c['Participation'].head()

0    100.0
1     33.0
2     66.0
3    100.0
4     27.0
Name: Participation, dtype: float64

#### Eliminate duplicate 'Maine' row.

In [1131]:
act_2018c = act_2018c.drop_duplicates()

In [1132]:
act_2018c

                   State  Participation  Composite
0                Alabama          100.0       19.1
1                 Alaska           33.0       20.8
2                Arizona           66.0       19.2
3               Arkansas          100.0       19.4
4             California           27.0       22.7
5               Colorado           30.0       23.9
6            Connecticut           26.0       25.6
7               Delaware           17.0       23.8
8   District of columbia           32.0       23.6
9                Florida           66.0       19.9
10               Georgia           53.0       21.4
11                Hawaii           89.0       18.9
12                 Idaho           36.0       22.3
13              Illinois           43.0       23.9
14               Indiana           32.0       22.5
15                  Iowa           68.0       21.8
16                Kansas           71.0       21.6
17              Kentucky          100.0       20.2
18             Louisiana          100.0       19.2
19                 Maine            7.0       24.0
21              Maryland           31.0       22.5
22         Massachusetts           25.0       25.5
23              Michigan           22.0       24.2
24             Minnesota           99.0       21.3
25           Mississippi          100.0       18.6
26              Missouri          100.0       20.0
27               Montana          100.0       20.0
28              Nebraska          100.0       20.1
29                Nevada          100.0       17.7
30         New Hampshire           16.0       25.1
31            New Jersey           31.0       23.7
32            New Mexico           67.0       19.4
33              New York           27.0       24.5
34        North Carolina          100.0       19.1
35          North Dakota           98.0       20.3
36                  Ohio          100.0       20.3
37              Oklahoma          100.0       19.3
38                Oregon           42.0       21.3
39          Pennsylvania           20.0       23.5
40          Rhode Island           15.0       24.2
41        South Carolina          100.0       18.3
42          South Dakota           77.0       21.9
43             Tennessee          100.0       19.6
44                 Texas           45.0       20.7
45                  Utah          100.0       20.4
46               Vermont           24.0       24.1
47              Virginia           24.0       23.9
48            Washington           24.0       22.2
49         West Virginia           65.0       20.3
50             Wisconsin          100.0       20.5
51               Wyoming          100.0       20.0

#### Investigate outliers at 7% in 'Participation' column (later)

## Fix 2019 Errors

#### Remove % from values in 'Participation' feature.

In [1133]:
act_2019c['Participation'] = act_2019c['Participation'].apply(symbol_stripper)

In [1134]:
act_2019c['Participation'].head()

0    100
1     38
2     73
3    100
4     23
Name: Participation, dtype: object

#### Change 'Participation' column values to float.

In [1135]:
act_2019c['Participation'] = act_2019c['Participation'].apply(convert_float)

In [1136]:
act_2019c['Participation'].head()

0    100.0
1     38.0
2     73.0
3    100.0
4     23.0
Name: Participation, dtype: float64

#### Need to remove row with "National" label in 'State' column.

In [1137]:
act_2019c = act_2019c[act_2019c['State'] != 'National']

In [1138]:
act_2019c['State']

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

# 5. Display the data types of each feature

#### 2017 Datatypes

In [1139]:
type(act_2017c['Participation'][1])

numpy.float64

In [1140]:
type(act_2017c['State'][1])

str

In [1141]:
type(act_2017c['Composite'][1])

numpy.float64

In [1142]:
act_2017c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 1 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Composite      51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 4.1+ KB

#### 2018 Datatypes

In [1143]:
type(act_2018c['Participation'][0])

numpy.float64

In [1144]:
type(act_2018c['Composite'][0])

numpy.float64

In [1145]:
type(act_2018c['State'][0])

str

In [1146]:
act_2018c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Composite      51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 4.1+ KB

#### 2019 Datatypes

In [1147]:
type(act_2019c['Participation'][0]) #participation feature is a string data type!!

numpy.float64

In [1148]:
type(act_2019c['Composite'][0])

numpy.float64

In [1149]:
type(act_2019c['State'][0])

str

In [1150]:
act_2019c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Composite      51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 4.1+ KB

# 6. Rename Columns

In [1151]:
column_names = {'State' : 'state',
               'Participation' : 'participation',
               'Composite' : 'composite'}

In [1152]:
act_2017c = act_2017c.rename(columns = column_names)

In [1153]:
act_2017c.head()

        state  participation  composite
1     Alabama          100.0       19.2
2      Alaska           65.0       19.8
3     Arizona           62.0       19.7
4    Arkansas          100.0       19.4
5  California           31.0       22.8

In [1154]:
act_2018c = act_2018c.rename(columns = column_names)

In [1155]:
act_2018c.head()

        state  participation  composite
0     Alabama          100.0       19.1
1      Alaska           33.0       20.8
2     Arizona           66.0       19.2
3    Arkansas          100.0       19.4
4  California           27.0       22.7

In [1156]:
act_2019c = act_2019c.rename(columns = column_names)

In [1157]:
act_2019c.head()

        state  participation  composite
0     Alabama          100.0       18.9
1      Alaska           38.0       20.1
2     Arizona           73.0       19.0
3    Arkansas          100.0       19.3
4  California           23.0       22.6

# 7. Add Column for Year
### before merging

In [1158]:
act_2017c['year'] = 2017

In [1159]:
act_2017c.head()

        state  participation  composite  year
1     Alabama          100.0       19.2  2017
2      Alaska           65.0       19.8  2017
3     Arizona           62.0       19.7  2017
4    Arkansas          100.0       19.4  2017
5  California           31.0       22.8  2017

In [1160]:
act_2018c['year'] = 2018

In [1161]:
act_2018c.head()

        state  participation  composite  year
0     Alabama          100.0       19.1  2018
1      Alaska           33.0       20.8  2018
2     Arizona           66.0       19.2  2018
3    Arkansas          100.0       19.4  2018
4  California           27.0       22.7  2018

In [1162]:
act_2019c['year'] = 2019

In [1163]:
act_2019c.head()

        state  participation  composite  year
0     Alabama          100.0       18.9  2019
1      Alaska           38.0       20.1  2019
2     Arizona           73.0       19.0  2019
3    Arkansas          100.0       19.3  2019
4  California           23.0       22.6  2019

# 8. Merge dataframes

In [1165]:
act_df = act_2017c.copy()

In [1166]:
act_df.head()

        state  participation  composite  year
1     Alabama          100.0       19.2  2017
2      Alaska           65.0       19.8  2017
3     Arizona           62.0       19.7  2017
4    Arkansas          100.0       19.4  2017
5  California           31.0       22.8  2017

In [1167]:
act_df = act_df.append(act_2018c, True) #Ignore index = True because it was merging on index numbers when it was false.

In [1168]:
act_df.tail()

             state  participation  composite  year
97        Virginia           24.0       23.9  2018
98      Washington           24.0       22.2  2018
99   West Virginia           65.0       20.3  2018
100      Wisconsin          100.0       20.5  2018
101        Wyoming          100.0       20.0  2018

In [1169]:
act_df = act_df.append(act_2019c, True) #Ignore Index = Treu because it was merging on index numbers when False.

In [1170]:
act_df.tail()

             state  participation  composite  year
148       Virginia           21.0       24.0  2019
149     Washington           24.0       22.1  2019
150  West Virginia           49.0       20.8  2019
151      Wisconsin          100.0       20.3  2019
152        Wyoming          100.0       19.8  2019

# 9. Save your cleaned and merged dataframes as csv file

In [1171]:
act_df.to_csv('act_2017_2018_2019_df', index = 'False')

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

## My Data Dictionary

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|U.S. States List|U.S. States participating in ACT standard tests|
|participation|float|Participation Rates (0-100 percent)|ACT participation rates for U.S. States|
|composite|float|Composite Scores(0-36)|Composite score accounting for scores from all subcategories of ACT|
|year|int|Years 2017 to 2019|Year of participation in ACT|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

## 1. Summary Statistics

In [1172]:
act_df.describe()

       participation   composite         year
count     153.000000  153.000000   153.000000
mean       61.882353   21.493464  2018.000000
std        33.467766    2.096321     0.819178
min         6.000000   17.700000  2017.000000
25%        29.000000   19.800000  2017.000000
50%        66.000000   21.300000  2018.000000
75%       100.000000   23.600000  2019.000000
max       100.000000   25.600000  2019.000000

## 2.  Apply Standard Deviation Function
 - Use a dictionary comprehension to apply the standard deviation function you create in part 1 to each numeric column in the dataframe. 
 - No loops.
 - Assign the output to variable sd as a dictionary where:
 - Each column name is now a key
 - That standard deviation of the column is the value
Example Output : {'ACT_Math': 120, 'ACT_Reading': 120, ...}

In [1188]:
{k : std_dev_fun(v) for k, v in act_df['participation'].items()}

TypeError: 'float' object is not iterable

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!